@media screen and (min-width: 2px) and (max-width: 825px) {
    /* main {    m43.46px;  } */
    .image {
        width: 373.72px;
        height: 256.38px;
    }
    .content_p {
        font-size: 15.64px;
    }
    .exp-title {
        padding-top: 4.33px;
        padding-bottom: 8.69px;
        padding-left: 8.69px;
        padding-right: 8.69px;
    }
    .exp-title-upper_numbers {
        font-size: 69.52px;
    }
    .exp-title-upper_main {
        /* m13.03px; */
        font-size: 37.38px;
    }
    .exp-title-lower {
        margin-top: 37.11px;
    }
    .exp-title-lower_p {
        font-size: 15.64px;
    }
    .about-company {
        margin-top: 43.46px;
    }
    .about-company-content_header {
        font-size: 27.81px;
    }
    .about-company-content_header::after {
        width: 260.74px;
        height: 2.17px;
        margin-top: 4.33px;
        margin-bottom: 13.03px;
    }
    .contact {
        margin-top: 21.72px;
    }
}
